.sign-in{
    height: 100%;
    width: 100%;
    top:0;
    left:0;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    background-color: rgb(0,0,0,.7);
}

.sign-in input{
    border-radius: 10px;
    margin: 5px;
    width: 110%;
    padding: 5px 10px;
    border: 3px inset white;
    font-size: 12px;
}

.sign-in-container{
    width: clamp(300px, 25vw, 400px);
    height: clamp(300px, 45vh, 500px);
    border-radius: 30px;
    padding: 40px;
    background-color: #CDDCDC;
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    background-size: 100% auto;
}

.sign-in-inner-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sign-in-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}

.sign-in-title{
    background: -webkit-linear-gradient(to right, hsl(200, 60%, 30%), hsl(196, 60%, 12%), hsl(196, 10%, 20%));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsl(200, 60%, 30%), hsl(196, 60%, 12%), hsl(195, 10%, 20%)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 3px;
    font-weight: 600;
    color:
}

.sign-in-link{
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    color:hsl(0, 0%, 20%);
    border: 1px outset white;
    background-color: white;
    margin-top: 20px;
    padding: 8px 60px;  
    border-radius: 5px;
}

.sign-in-link:hover{
    transition: 0.5s;
    background-color: hsl(0, 0%, 95%);
}

.sign-in-footer {
    padding: 20px;
}

.sign-up-link{
    text-decoration: none;
    color:hsl(194, 80%, 30%);
}

.sign-up-link:hover{
    transition: 0.5s;
    text-decoration: underline;
    color:hsl(194, 80%, 20%);
}

.google-link{
    cursor: pointer;
    height: 40px;
}

.exit-zone{
    top:0;
    left:0;
    position: fixed;
    cursor: pointer;
    z-index:-1;
    height:100%;
    width:100%;
}

.fill-boxes{
    display: flex;
    flex-direction: column;
    align-items: center;
}