.contact-us {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  background-image: linear-gradient(
    to right,
    rgb(67, 67, 67, 0.8) 0%,
    rgb(0, 0, 0, 0.8) 100%
  );
}
.contact-us-container {
  display: flex;
  height: clamp(55%, 70%, 600px);
  width: clamp(40%, 68%, 400px);
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 30px;
  background-color: #e2eef3;
  padding-top: 3vh;
  padding-bottom: 3vh;
}

.contact-title {
  text-align: center;
  font-size: clamp(20px, 4vh, 50px);
  font-weight: bold;
  color: #0f232f;
  margin-bottom: 5vh;
}

.contact-fill-box {
  height: clamp(25px, 8vh, 200px);
  width: 100%;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#fname {
  margin-bottom: 4vh;
}

#email {
  margin-bottom: 0vh;
}
.contact-input-field {
  height: 100%;
  width: 75%;
  border: none;
  border-bottom: 1px solid black;
  background-color: transparent;
  font-size: clamp(small,medium,large);
}

.input-field:focus {
  outline: none;
}

.reason-text {
  display: flex;
  justify-self: flex-end;
  align-self: flex-start;
  margin-top: 4.5vh;
  margin-left: clamp(40px,5vw,100px);
  margin-bottom: 0;
  font-size: clamp(10px,3vw,20px);
  font-weight: bold;
  color: #0f232f;
}

.reason-box {
  margin-top: 20px;
  height: 50vh;
  width: clamp(35vw, 55vw, 280px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

#input-box {
  height: clamp(100%, 100%, 800px);
  width: clamp(100%, 100%, 400px);
  background-color: transparent;
  border-radius: 5px;
}

.contact-submit {
  height: clamp(10vh, 20vh, 200px);
  width: clamp(25vw, 30vw, 800px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
}
.contact-submit-button {
  height: 8vh;
  width: 30vw;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #2a4658;
  background: linear-gradient(
    180deg,
    rgba(31, 46, 53, 0.8) 0%,
    rgba(31, 46, 53, 0.8) 50%,
    rgba(31, 46, 53, 0.9) 100%
  );
  background-size: 100% auto;
  box-shadow: 0.5px -0.5px 7px black;
  color: white;
  text-decoration: none;
  font-size: medium;
  font-weight: 500;
}
