.learn-more-page {
  margin: 0;
  top: 0;
  left: 0;
  height: 200vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background: #085070; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #85d8ce, #085070); /* Chrome 1*/
  background: linear-gradient(to top, #85d8ce, #085070);

  font-family: Arial, Helvetica, sans-serif;
}

.learn-more-container {
  color: black;
  margin-top: 18vh;
  height: 100%;
  width: clamp(90vw, 95%, 500px);
  background-color: #e2eef3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 12px;
  text-align: justify;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5);
}

.learn-bg-icon {
  top: 15%;
  right: 9%;
  z-index: 0;
  position: fixed;
  width: 32vw;
  opacity: 25%;
}

.learn-more-h1 {
  margin-top: 3vh;
  margin-left: 3vw;
  font-size: xx-large;
  padding: 1vw;
  width: 50%;
  text-align: center;
  border-radius: 5px;
  color: #0f232f;
}
#type1-h2 {
  margin-top: 3vh;
  margin-left: 3vw;
  font-size: xx-large;
  padding: 1vw;
  width: 50%;
  text-align: center;
  border-radius: 5px;
  color: #0f232f;
}

#type1-p {
  font-size: medium;
  width: 57%;
  padding: 2vw;
  text-align: justify;
  text-indent: 2vw;
  color: #2a4658;
}
#type2-p {
  font-size: medium;
  width: 100%;
  text-align: justify;
  text-indent: 2vw;
  color: #2a4658;
}

#type2-h2 {
  margin-top: 3vh;
  margin-left: 3vw;
  font-size: xx-large;
  padding: 1vw;
  width: 50%;
  text-align: center;
  border-radius: 5px;
  color: #0f232f;
}

#type3-p {
  font-size: medium;
  width: 95%;
  padding: 2vw;
  text-align: justify;
  text-indent: 2vw;
  color: #2a4658;
}
