.terms-service-page {
  margin: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background: #085070; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #85d8ce, #085070); /* Chrome 1*/
  background: linear-gradient(to top, #85d8ce, #085070);
  font-family: Arial, Helvetica, sans-serif;
}

.terms-service-container {
  color: black;
  padding: 2vh 0 5vh 0;
  height: 100%;
  width: clamp(90vw, 95%, 500px);
  background-color: #e2eef3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 2px;
  text-align: justify;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5);
}

.terms-service-bg {
  top: 0;
  left: 1.2%;
  z-index: 0;
  position: relative;
  width: 20%;
  opacity: 55%;
}

.terms-service-h1 {
  margin-top: 1vh;
  font-size: xxx-large;
  text-align: center;
  color: #0f232f;
}

.terms-service-p {
  font-size: medium;
  margin: 0 5vw 0 5vw;
  text-align: justify;
  text-indent: 2vw;
  color: #15242e;
  line-height: 2.5vh;
}

.terms-service-h2 {
  margin-top: 2vh;
  width: 100%;
  margin-left: 5vw;
  font-size: medium;
  align-self: flex-start;
  border-radius: 5px;
  color: #0f232f;
}

.terms-service-p2 {
  font-size: 15px;
  margin: 0 5vw 0 5vw;
  text-align: justify;
  color: #15242e;
  line-height: 2.5vh;
  align-self: flex-start;
}
