.nav-owner {
  height: 8vh;
  z-index: 10;
  width: 100vw;
  display: flex;
  align-items: center;
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    rgb(44, 83, 100, 0.95),
    rgb(32, 58, 67, 0.95),
    rgb(15, 32, 39, 0.9)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    rgb(44, 83, 100, 0.95),
    rgb(32, 58, 67, 0.95),
    rgb(15, 32, 39, 0.9)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.nav-owner-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.nav-owner-header-img {
  width: 150px;
  padding: 15px;
  margin-left: 30px;
}

.owner-links {
  margin-left: 3vw;
  color: white;
  font-weight: 400;
  font-size: clamp(1rem, 1.1rem, 1.2rem);
  font-family: " Poppins ";
  text-decoration: none;
}

.owner-links:hover {
  color: aquamarine;
}
