.owner-dashboard {
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  overflow-y: hidden;
  background: linear-gradient(
    to top, 
    hsla(198, 90%, 25%, .50) 0%, 
    hsla(198, 52%, 68%, .25) 40%,
    hsla(198, 52%, 68%, .1) 100%
  );
  font-family: Arial, Helvetica, sans-serif;
}

.owner-dashboard-title-container {
  height: 25%;
  width: 100%;
  background-color: hsla(0, 0%, 100%);
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: justify;
  position: relative;
  box-shadow: 0px 4px 5px hsl(0, 0%, 0%, 0.1);
}

.owner-dashboard-title-container h1{
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(to left, #2C5364, #203A43, #0F2027);  /* fallback for old browsers */
  background: linear-gradient(to left, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

.your-rental {
  margin: 2vw;
  align-self: flex-start;
  color: black;
}

.owner-dashboard-card {
  height: 100%;
  width: 100%;
  padding-top: 5vh;
  color: #000;
  box-shadow: 0px 4px 5px black;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-self: center;
  position: relative;
}

@media screen and (max-width: 700px) {
  .owner-dashboard-title-container {
    margin-top: 15vh;
    height: clamp(50px, 8vh, 100px);
    width: 100%;
    border-radius: 0;
  }

  .owner-dashboard-card {
    height: 100%;
    width: 100%;
    border-radius: 0;
  }
}
