/* Background to Cards*/
.owner-rental {
  height: clamp(400px, 55vh, 800px);
  width: 100%;
  padding: 2vh 2vw 2vh 2vw;
  background-color: rgba(0, 0, 0, 0.26);
  margin-top: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 10vh;
}

.container-disabled {
  display: none;
}

.owner-dash-title-container {
  margin-top: 3vh;
  height: 10%;
  width: 100%;
  z-index: 3;
  position: relative;
  background-color: #131f24e5;
}

.owner-img-card {
  height: clamp(400px, 45vh, 450px);
  width: clamp(450px, 50vw, 650px);
  margin-left: -5vw;
  background-color: #0c0d0e;
  border-radius: 25px;
  position: relative;
}
.owner-rental-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 25px;
  box-shadow: 0px 4px 20px black;
}

.owner-dash-rental-detail-card {
  height: clamp(650px, 65vh, 750px);
  width: clamp(300px, 35%, 400px);
  margin-left: 5vw;
  display: flex;
  flex-direction: column;
  z-index: 2;
  position: relative;
  border-radius: 25px;
  background-color: #131f24a2;
  box-shadow: 0px 1px 5px black;
}

.owner-dash-title-container h2 {
  color: white;
  font-size: x-large;
  font-family: sans-serif;
}
/* End of Background to Cards*/

/* Description */
.owner-dash-description-container {
  height: 50%;
  width: 100%;
  margin-top: 2vh;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: justify;
  background-color: #131f24e5;
  text-overflow: ellipsis;
}

.owner-dash-description-container h3 {
  color: white;
  font-size: clamp(1.3rem, 1.8vw, 3rem);
  font-weight: 200;
  padding-left: 15px;
}

.owner-dash-description-container p {
  color: white;
  margin: 0;
  font-size: clamp(1rem, 1.5vw, 2.5rem);
  font-weight: 200;
  padding: 0 15px;
}

.owner-description-icon-active {
  background-color: rgba(251, 251, 251, 0.829);
  height: 15%;
  width: 15%;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-self: flex-end;
}

.owner-description-icon-active:hover {
  background-color: white;
}

.owner-dash-edit-desc {
  margin-top: 2vh;
  background-color: #131f24df;
  height: 50%;
  width: 100%;
}
.owner-edit-desc-field {
  margin-top: 2vh;
  font-size: clamp(1rem, 1.5vw, 2.5rem);
  font-weight: 200;
  padding: 15px 10px;
  height: 65%;
  width: 90%;
  border: none;
  color: white;
  background-color: #131f246c;
}
.owner-edit-desc-field::placeholder {
  color: rgba(255, 255, 255, 0.781);
  font-size: clamp(1rem, 1.5vw, 2.5rem);
  font-weight: 200;
  text-align: justify;
}

.owner-dash-cont-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#desc-button-cont {
  height: 13%;
  margin-top: 1vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#backspace-icon {
  margin-right: 1vw;
}

.owner-edit-desc-field-button {
  height: 100%;
  width: 70%;
  color: white;
  background-color: #29434e;
  border: none;
  border-radius: 25px;
}

.owner-edit-desc-field-button:hover {
  color: black;
  background-color: #3ed598;
}

/* End Description */

/* Pending Connections */
.owner-dash-pending-container {
  height: 10%;
  width: 100%;
  margin-top: 2vh;
  z-index: 3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: justify;
  border-radius: 30px;
  white-space: nowrap;
  position: relative;
  background-color: #131f24e5;
}
.owner-dash-pending-container h2 {
  color: white;
  font-size: clamp(1.3rem, 1.8vw, 3rem);
  margin-right: 2vw;
  font-weight: 100;
}

.owner-dash-small-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: clamp(1.5rem, 3vw, 3rem);
  width: clamp(2rem, 3vw, 2.5rem);
  border-radius: 50px;
  background-color: rgba(251, 251, 251, 0.829);
  border: none;
}
.owner-dash-small-button:hover {
  background-color: #ffffff;
}

/* active pending  container */
.owner-dash-pending-container-active {
  height: 55%;
  width: 100%;
  color: white;
  margin-top: 2vh;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: justify;
  background-color: #131f24e5;
}

.owner-dash-pending-cont-row {
  display: flex;
  flex-direction: row;
}

.owner-dash-pending-container-active h2 {
  color: white;
  margin: 1vh 1vw;
  font-size: clamp(1.3rem, 1.8vw, 3rem);
  font-weight: 300;
}
.owner-dash-small-button-pend {
  display: flex;
  align-items: center;
  justify-content: center;
  height: clamp(1rem, 3vw, 3rem);
  width: clamp(1rem, 3vw, 2.5rem);
  margin: 1vh 1vw;
  border-radius: 50px;
  background-color: rgba(251, 251, 251, 0.829);
  border: none;
}

.owner-dash-pending-container-active h3 {
  color: white;
  font-size: 23.3px;
  font-weight: 200;
  margin: 2vh 2vw 2vh 2vw;
}

.owner-dash-pending-request {
  height: 25%;
  width: 95%;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  border-radius: 10px;
  background-color: #62626b;
  margin-bottom: 2vh;
}

.owner-dash-pending-request p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0;
  margin-left: 1vw;
  margin-top: 1.5vh;
  font-size: clamp(0.8rem, 1.2vw, 1.25rem);
  font-weight: 700;
}

.owner-dash-pending-name-cont {
  top: 1vh;
  height: 70%;
  width: 100%;
  z-index: 3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  border-radius: 10px;
  background-color: #ececfd;
}
.owner-dash-pending-request h3 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  font-size: clamp(1.4rem, 1.8vw, 2rem);
  color: #000;
  font-weight: 600;
}

.owner-dash-button-cont {
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 10px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  z-index: 4;
}
.owner-dash-disapprove-cont {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 20%;
  border-radius: 10px;
  background-color: #ff565e;
}

.owner-dash-approve-cont {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 20%;
  border-radius: 10px;
  background-color: #3ed598;
}
/* End Pending Connections */

/* Archived Connections */
.owner-dash-archived-container {
  height: 10%;
  width: 100%;
  margin-top: 2vh;
  z-index: 3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: justify;
  position: relative;
  border-radius: 30px;
  background-color: #131f24e5;
}

.owner-dash-archived-container h2 {
  color: white;
  font-size: clamp(1.3rem, 1.8vw, 3rem);
  margin-right: 2vw;
  font-weight: 100;
}
/* End Archived Connections */

/* Remove Rental Button */
.owner-dash-remove-rental {
  margin-top: 2vh;
  height: 10%;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  background-color: #ba4848ce;
}

.owner-dash-remove-rental:hover {
  background-color: #ba4848;
}

.owner-dash-remove-rental h2 {
  color: white;
  font-size: clamp(1.3rem, 1.8vw, 3rem);
  font-weight: 200;
}
/*End Remove Rental Button */

@media screen and (max-width: 770px) {
  .owner-rental {
    height: 100%;
    width: 100%;
    padding: 2vh 0vw 2vh 0vw;
    margin-top: 0vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 10vh;
    position: relative;
    transition: 1s;
  }

  .owner-dash-rental-detail-card {
    height: clamp(650px, 65vh, 750px);
    width: clamp(300px, 70%, 500px);
    margin-top: 2vh;
    margin-left: 0vw;
    flex-direction: column;
    transition: 1s;
  }

  .owner-img-card {
    width: clamp(450px, 85vw, 650px);
    margin-left: 0vw;
    background-color: #0c0d0e;
    border-radius: 25px;
    position: relative;
    transition: 1s;
  }
  .owner-rental-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
    box-shadow: 0px 4px 20px black;
    transition: 1s;
  }
}
