:root {
    --card-offset-y : 100vh;
    --card-offset-x : 100vh;
}
  
.card-1 {
    width: 80vw;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30vh;
    border-radius: 30px;
    z-index: 1;
    background-color:white;
    margin: auto;
    bottom: 0;
    box-shadow:5px -5px 20px black;
} 

.card-2 {
    width: 80vw;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    border-radius: 30px;
    z-index: 5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:darkgrey;
    top: calc(var(--card-offset-y)*3);
    box-shadow:5px -5px 20px black;
}

.card-3 {
    width: 80vw;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    border-radius: 30px;
    z-index: 5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color:white;
    top: calc(var(--card-offset-y)*3.3);
    box-shadow:5px -5px 20px black;
}

.bubble {
    border: 1px transparent;
    box-shadow: 5px 5px 10px darkgray;
    border-radius: 25px;
    width: 10vw;
    height: 15vh;
    padding-top: 20vh;
    padding-bottom: 1vh;
    display: inline-grid;
    padding-left: 1.5vw;  
    padding-right: 1.5vw;  
    position: block;
    color: white;
    text-shadow: 1px 1px 10px black;
    margin: 20px;
    opacity: .70;
}

.bubble h2{
    font-size: 1.5vw;
}

.bubble-link{
    text-decoration: none;
}
#one {
    background-image: url("../images/hotel-bg.jpg");
    background-position: center;
}
.bubble #two{
    
}