:root {
    --card-offset-y : 100vh;
    --card-offset-x : 100vh;
    --card-height: 100vh;
}
  
.card-1 {
    width: 85vw;
    padding-top: 50px;
    padding-bottom: 200px;
    border-radius: 30px;
    background-color: white;
    bottom: 0;
    box-shadow:5px -5px 20px black;
} 

.card-1 h1{
    border: 1px transparent;
    background: linear-gradient(90deg, rgba(94,166,130,1) 0%, rgba(176,226,201,1) 57%, rgba(255,255,255,1) 100%);
    width: 60%;
    font-size: clamp(20px, 2.3vw, 35px);
    margin-top: 20px;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-shadow: 2px 1px 8px black;
    color:white;
}

.bubble {
    border: 1px transparent;
    box-shadow: 5px 5px 10px darkgray;
    border-radius: 25px;
    width: 150px;
    height: clamp(200px,240px,300px);
    padding: 5px;
    margin: 20px;
}

.bubble-overlay{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
}

.bubble-container{
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.bubble-link{
    text-decoration: none;
    display: inline-flex;
}

.bubble-overlay h2{
    font-size: clamp(18px, 10%, 20px);
    text-shadow: 5px 5px 10px black;
    margin-bottom: 20px;
    margin-left: -5px;
    width: 100%;
    background: rgb(94,166,130);
    background: linear-gradient(90deg, rgba(94,166,130,0.750875350140056) 0%, rgba(176,226,201,0.6) 75%, rgba(255,255,255,0) 100%);
    color: white;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
}

#one {
    background-image: url("../images/hotel-bg.jpg");
    background-size:cover;
    background-position: center;
    background-color: white;
}

#two {
    background-image: url("../images/pension-house-bg.jpg");
    background-size:cover;
    background-color: white;
}

#three {
    background-image: url("../images/boarding-house.jpg");
    background-size:cover;
    background-color: white;
}

#four{
    background-image: url("../images/apartment-bg.jpg");
    background-size:cover;
    background-color: white;
}

#five{
    background-image: url("../images/hotel-bg.jpg");
    background-size:cover;
    background-position: center;
    background-color: white;
}
