//Global Variables
$bg-color-alt: hsl(198, 87%, 24%);
$bg-color: linear-gradient(
    to top, 
    hsla(180, 20%, 1%, 0.9) 0%, 
    hsla(198, 87%, 24%, .90) 30%, 
    hsla(198, 87%, 24%, .90) 60%, 
    hsla(173, 52%, 68%, .05) 100%
);

//About Page
.about {
    margin: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background: $bg-color-alt;
    background: $bg-color;
    font-family: Arial, Helvetica, sans-serif;

    &-section {
        transition: 1s;
        color: whitesmoke;
        margin-top: 18vh;
        height: clamp(120vh, 60%, 200vh);
        width: clamp(77vw, 95%, 500px);
        background-color: #e2eef3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        text-align: justify;
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5);
    }
    &-h2 {
        margin-top: 3vh;
        font-size: large;
        padding: 1vw;
        width: 50%;
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5);
        text-align: center;
        border-radius: 5px;
        color: #0f232f;
    }
    &-p {
        font-size: medium;
        width: 90%;
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
        padding: 2vw;
        text-align: justify;
        text-indent: 2vw;
        color: #2a4658;
    }
    &-team{
        &-title {
            font-size: x-large;
            width: 120%;
            padding: 2vh;
            border-radius: 2px;
          
            background: #085070; /* fallback for old browsers */
            background: -webkit-linear-gradient(
              to top,
              #85d8ce,
              #085070
            ); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(
              to top,
              #63a39c,
              #085070
            ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.7);
            text-align: center;
        }
        &-container {
            height: 55%;
            width: clamp(380px, 60vw, 500px);
            margin-top: 5vh;
            margin-bottom: 16px;
            padding: 0 8px;
            height: auto;
            max-width: 100%;
            background-color: #2a4658;
            background-image: linear-gradient(135deg, #20235a 0%, #375468 100%);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 20px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            &-img {
                margin: 8px;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                border-radius: 20px;
            }
            &-description {
                display: flex;
                flex-direction: column;
                text-align: left;
                align-items: center;
                justify-content: flex-start;
                height: clamp(10px, 50%, 100px);
                width: 85%;
                border-radius: 10px;
                margin-bottom: 4vh;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            }
        }
        &-pic {
            width: 30%;
            border-radius: 150px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        }
        &-text {
            font-size: medium;
            padding: 10px;
            border-radius: 5px;
            color: rgb(255, 255, 255);
            background: #085070; /* fallback for old browsers */
            background: -webkit-linear-gradient(
              to top,
              #85d8ce,
              #085070
            ); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(
              to top,
              #3a615c,
              #085070
            ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        }
        &-person{
            &-title {
                padding: 10px;
                border: 2px solid rgb(52, 206, 233);
                background-color: #2a4658;
                background-image: linear-gradient(135deg, #375468 0%, #20235a 100%);
                color: rgb(226, 228, 253);
                font-weight: medium;
                border: none;
                border-radius: 15px;
            }
            &-saying {
                margin: 0 2vw 0 2vw;
                text-align: justify;
            }
        }
    }
    &-contact-button {
        height: 5vh;
        width: 55%;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #2a4658;
        background-image: linear-gradient(135deg, #6266ad 0%, #375468 100%);
        background-size: 100% auto;
        box-shadow: 0.5px -0.5px 7px black;
        color: white;
        text-decoration: none;
        font-size: large;
        font-weight: 500;
        margin-bottom: 30px;
    }
}