.owner-dashboard {
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background: #085070; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #85d8ce, #085070); /* Chrome 1*/
  background: linear-gradient(to top, #85d8ce, #085070);
  font-family: Arial, Helvetica, sans-serif;
}

.owner-dashboard-title-container {
  color: whitesmoke;
  margin-top: 18vh;
  height: clamp(120vh, 60%, 200vh);
  width: clamp(90vw, 95%, 500px);
  background-color: #131f24;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  text-align: justify;
  box-shadow: 1px -3px 10px black;
}

.your-rental {
  margin: 2vw;
  align-self: flex-start;
  color: white;
}

.owner-dashboard-card {
  height: clamp(120vh, 80%, 800px);
  width: clamp(88vw, 93%, 500px);
  background-color: #e2eef3;
  color: black;
  margin-bottom: 5vh;
  padding-top: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 5px black;
  border-radius: 10px;
  z-index: 1;
}

@media screen and (max-width: 700px) {
  .owner-dashboard-title-container {
    margin-top: 15vh;
    height: clamp(50px, 8vh, 100px);
    width: 100%;
    border-radius: 0;
  }

  .owner-dashboard-card {
    height: 100%;
    width: 100%;
    border-radius: 0;
  }
}
