#startOfPage{
  justify-self: flex-start;
  top:0;
}

.rental-dashboard-bg{
  width: 100vw;
  height: 100vh;
  background: #0F2027;
  background-image: 
  linear-gradient(to top, hsl(0, 0%, 40%) 0%, hsl(198, 40%, 40%) 30%, hsl(198, 40%, 100%) 100%),
  url("../../images/cebuBackground.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
  background-blend-mode:screen;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  scroll-snap-type: y mandatory;  
  scroll-snap-stop: always;
  overflow-x: hidden;
  overflow-y: scroll;
}

.rental-dashboard-bg nav{
  scroll-snap-align: start;
}

.stop {
  scroll-snap-stop: always;
}

.rental-dashboard-head{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    to top, 
  hsl(198, 30%, 30%, 0.4) 0%, 
  hsl(198, 40%, 20%, 0.8) 30%, 
  hsla(198, 72%, 10%, 0.9) 100%);
  align-items: center;
  justify-content: flex-start;
}

.rentel-dashboard-head-img{
  width: clamp(300px,50%,800px);
  height: clamp(80px,20%,300px);
  margin-bottom: clamp(20px,10vh,100px);
}

.rental-dashboard-filter-select-hide{
  display: none;
}

.rental-dashboard-filter-form-hide{
  display: none;
}

.rental-dashboard-filter-select{
  width: 60vw;
  margin-bottom: 5vh;
}

.rental-dashboard-filter-form{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
}

.rental-dashboard-filter-options{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  letter-spacing: 2px;
  font-family: "Source Sans Pro";
  color: white;
  font-family: "Source Sans Pro";
  font-size: clamp(12px,3vw,15px);
  text-shadow: 1px 1px 3px black;
  font-weight: 100;
  margin-left: 10px;
  margin-right: 10px;
}

.rental-dashboard-filter-options h4{
  height: fit-content;
  margin: 10px;
}

.rental-dashboard-main-container{
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to top, hsl(198, 25%, 70%) 0%, hsl(198, 0%, 80%) 50%, hsl(198, 0%, 90%, 0) 100%);
}

.rental-nav-trans{
  padding-bottom: clamp(50px,20vh,200px);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.rental-dashboard-main-navbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  padding: 25px 5%;
  padding-bottom: 25px !important;
  height: 50px;
}

.rental-navbar-section{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 30%;
}

.filter-box{
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.rental-dashboard-main-navbar h2{
  background: linear-gradient(to right, hsl(200, 60%, 25%) 0%, hsl(198, 30%, 30%) 30%, hsl(198, 80%, 25%)) 100%; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  font-size: 30px;
  font-family: "Montserrat";
}

.rental-dashboard-back-icon{
  padding-right:30px;
  height: 50px;
  cursor: pointer;
  text-shadow: 1px 1px 3px black;
  color: black;
}

.main-rental-list-container{
  display: grid;
  justify-content: center;
  padding-top: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
  grid-template-rows: repeat(auto-fit, minmax(300px, 150px));
  grid-row-gap: 5rem;
  grid-column-gap: 3rem; 
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  scroll-snap-type: y proximity;
  scroll-padding: 20px;
  scroll-snap-stop: always;
  height: calc(100vh - 130px);
}

.main-rental-list-container::-webkit-scrollbar {
  width: 0px;
}

.main-rental-list-options{
  display: flex;  
  scroll-snap-align: start;
  flex-direction: column;
  text-decoration: none;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: 0px 0px 15px hsla(0, 0%, 50%, 0.2);
  width: 300px;
  height: fit-content;
}

.main-rental-list-options:hover {
  transition: 0.3s;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: 0px 0px 15px hsl(0, 0%, 50%);
}

.main-rental-list-options-imgs{
  width: 100%;
  height: 100%;
  display: flex;
  border-top-right-radius: 30px;
  flex-direction: column;
  text-decoration: none;
  align-items: flex-start;
}

.main-rental-list-options-imgs h4{
  padding-left: 20px;
  text-shadow: 2px 2px 5px black;
  width: calc(100% - 20px);
  height: fit-content;
  font-family: "Montserrat";
  justify-self: flex-start !important;
  font-weight: 600;
  color: hsl(0, 0%, 100%);
  text-overflow: ellipsis;
}

.main-rental-list-options-imgs h2{
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: calc(100% - 20px);
  margin-top: auto;
  justify-self: flex-end !important;
  background-color: hsla(198, 50%, 45%, 0.45);
  text-shadow: 2px 2px 10px black;
  height: fit-content;
  font-family: "Montserrat";
  font-weight: 600;
  color: hsl(0, 0%, 100%);
  text-overflow: ellipsis;
}

.information-box{
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-bottom-left-radius: 30px;
  background-color: hsla(0, 100%, 100%, 0.4);
}

.stars-container{
  display: flex;
  height: 15px;
  width: calc(100% - 20px);
  flex-direction: row;
  padding-top: 20px;
  padding-left: 20px;
}

.head-count{
  display: flex;
  width: 100%;
  padding-right: 20px;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.head-count h4{
  background: linear-gradient(to right, hsl(200, 60%, 25%) 0%, hsl(198, 30%, 30%) 30%, hsl(198, 80%, 25%)) 100%; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Source Sans Pro";
  font-weight: 600;
}

.capacity-icon{
  color: hsl(200, 60%, 30%);
  padding-right: 3px;
  transform: scale(0.7);
}

#mainPage{
  height: 0px !important;
}

.stars-container img{
  width: clamp(10px,1vw,15px);
}

.text-box{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.text-box h4{
  background: linear-gradient(to right, hsl(200, 60%, 25%) 0%, hsl(198, 30%, 30%) 30%, hsl(198, 80%, 25%)) 100%; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Source Sans Pro";
  font-weight: 600;
  text-shadow: 0 0 3px hsla(0, 0%, 50%, 0.3);
  padding-left: 5px;
}

.price-box{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center ;
  width: 100%;
}

.price-box h2, .price-box h3{
  color: hsl(198, 80%, 25%);
  margin-top: -5px;
  padding-right: 1ch;
}

.location-icon {
  color: hsl(200, 60%, 30%);
  transform: scale(0.8);
  padding-left: 15px;
}

.main-rental-list-container-spacer{
  width: 100vw;
  height: 20px;
}

@media screen and (max-width: 720px){
  .rental-navbar-section h2{
    display: none;
  }
  .main-rental-list-container{
    justify-content: center;
  }
}