#startOfPage{
  align-self: flex-start;
  justify-self: flex-start;
  padding-bottom: clamp(50px,20vh,200px);
  top:0;
  left:0;
}

.rental-dashboard-bg{
  background: hsl(198, 87%, 24%);
  background: -webkit-linear-gradient(to top, hsl(173, 52%, 68%), hsl(198, 87%, 20%));
  background: linear-gradient(to top, hsl(173, 52%, 68%), hsl(198, 87%, 24%));
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  scroll-snap-type: y mandatory;
  scroll-snap-stop: always;
  overflow-x: hidden;
  overflow-y: scroll;
}

.rental-dashboard-bg section{
  scroll-snap-align: start;
}

.stop {
  scroll-snap-stop: always;
}

.rental-dashboard-head{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.rentel-dashboard-head-img{
  width: clamp(300px,50%,800px);
  height: clamp(80px,20%,300px);
  margin-bottom: clamp(20px,10vh,100px);
}

.rental-dashboard-filter-select-hide{
  display: none;
}

.rental-dashboard-filter-form-hide{
  display: none;
}

.rental-dashboard-filter-select{
  width: 60vw;
  margin-bottom: 5vh;
}

.rental-dashboard-filter-form{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
}

.rental-dashboard-filter-options{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Source Sans Pro";
  font-size: clamp(12px,3vw,15px);
  text-shadow: 1px 1px 3px black;
  font-weight: 100;
  margin-left: 10px;
  margin-right: 10px;
}

.rental-dashboard-filter-options h4{
  height: fit-content;
  margin: 10px;
}

.rental-dashboard-main-container{
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.rental-dashboard-main-navbar{
  position: inherit;
  top:0;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: 20px 50px;
  height: 50px;
}

.rental-dashboard-main-navbar h2{
  color: white;
  text-shadow: 1px 1px 3px black;
}

.rental-dashboard-back-icon{
  padding-right:20px;
  height: 50px;
  cursor: pointer;
  text-shadow: 1px 1px 3px black;
  color: white;
}

.main-rental-list-container{
  /* background-color: rgba(255, 255, 255, 0.5); */
  display: flex;
  flex-direction: row;
  flex-wrap:inherit;
  justify-self: center;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 25px;
  overflow-y: scroll;
  border-radius: 10px;
  width: 100%;
  height: clamp(80vh,85vh,90vh);
}

.main-rental-list-container::-webkit-scrollbar {
  width: 0px;
}

.main-rental-list-options {
  display: flex;  
  flex-direction: row;
  text-decoration: none;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-right: clamp(20px, 2%, 100px);
  margin-left: clamp(20px, 2%, 100px);
  margin-top: clamp(20px, 1%, 50px);
  margin-bottom: clamp(20px, 1%, 50px);
  height: fit-content;
}

.main-rental-list-options:hover {
  transition: 0.3s;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: 10px 10px 20px black;
}

.main-rental-list-options-imgs{
  border-bottom-left-radius: 30px;
  height: 100%;
  width: 100%;
}

.overlay-color{
  width: 100%;
  height: 100%;
  display: flex;
  border-bottom-left-radius: 30px;
  flex-direction: row;
  text-decoration: none;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: rgba(95, 95, 95, 0.5);
}

.information-box{
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  border-top-right-radius: 30px;
  background-color: rgb(255, 255, 255, 0.2);
  border-top: 1px dotted black;
  border-right: 1px dotted black;
  border-bottom: 1px dotted black;
}

.stars-container{
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  padding-bottom: 20px;
}

.stars-container img{
  width: clamp(10px,1vw,15px);
}

.text-box{
  display: flex;
  flex-direction: row;
  height: fit-content;
  width: 100%;
}

.overlay-color h5{
  padding-left: 15px;
  height: fit-content;
  color: rgb(228, 228, 228);
  text-shadow: 1px 1px 3px rgb(66, 66, 66);
}

.text-box h3{
  color: white;
  width: 100%;
  background-color: rgba(173, 173, 173, 0.25);
  text-shadow: 1px 1px 3px black;
  padding: 10px;
}

@media screen and (max-width: 720px){
  .main-rental-list-container{
    justify-content: center;
  }
}