.btn-bot-container {
    display: flex;
    align-items: flex-start;
    margin-top: clamp(100px, 10vh, 200px);
}
.btn-bot {
    display: flex;
    align-items: center;
    justify-content:center;
    text-decoration: none;
    width: clamp(100px, 25vw, 150px);
    border-radius: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 42px;
    padding-right: 42px;
    color: white;
    text-shadow: 1px 1px 5px black;
    font-size: 15px;
    font-family: "Source Sans Pro";
    letter-spacing:2px;
    font-weight: 700;
    background-image: linear-gradient(to right, #134E5E 0%, #71B280  51%, #134E5E  100%);
    background-size: 200% auto;
}

.btn-bot:hover {
    transition: 0.5s;
    text-shadow: 1px 1px 5px grey;
    background-position: right center;
    color: #2dffdc;
    text-decoration: none;
}

.btn-top-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-right: 45px;
    width: 100%;
}

.btn-top {
    height: fit-content;
    text-decoration: none;
    font-size: 15px;
    font-family: "Source Sans Pro";
    font-weight: 700;
    color: aliceblue;
}

.btn-top:hover {
    transition: 0.5s;
    color: #80d0c7;
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    .btn-top-container {
        display: none;
    }
    .btn-bot-container {
        align-self: center;
    }
}

@media screen and (min-width: 600px) {
    .btn-bot-container {
        align-self: flex-start;
        margin-left: clamp(50px, 10vw, 200px);
    }
}
