.header-img{
    animation: slide-In 200ms;
    width: clamp(300px, 40vw, 500px);
}

.tagline{
    animation: fade-In 400ms;
    margin-top: 15px;
    width: clamp(250px, 40vw, 450px);
}

.container{
    display: flex;
    padding-top: clamp(10px, 20vh, 150px);
    flex-direction: column;
    height: 100%;
}

.navbar{
    height: clamp(400px, 92vh, 700px);
}

.header-img-active {
    animation: slide-Out 200ms;
    margin-left: 45px;
    align-self: center;
    height:45%;
}

.tagline-active {
    display: none;
}

.navbar-active {
    height: clamp(400px, 92vh, 700px);
}

.container-active {
    height: clamp(50px, 10%, 80px);
    display: flex;
    flex-direction: row;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(31,46,53,0.8) 0%, rgba(31,46,53,0.8) 50%, rgba(31,46,53,0.9) 100%);
    z-index: 4;
    position: fixed;
}

@media screen and (max-width: 600px) {
    .header-img{
        align-self: center;
    }
    .tagline{
        align-self: center;
    }
    .header-img-active{
        margin-left: 0;
    }
    .container-active{
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (min-width: 600px) {
    .container{
        padding-left: clamp(20px, 5vw, 100px);
    }
    .header-img{
        align-self: flex-start;
    }
    .tagline{
        align-self: flex-start;
        margin-left: 50px;
    }
}
/*For slide animation*/ 
  
@keyframes slide-In {
    0% {
        width: 0;
        opacity: 0;
    }
    100% {
        opacity: 1;
        width: clamp(300px, 40vw, 500px);
    }
}

@keyframes slide-Out {
    0% {
        margin-top: 24vh;
        margin-left: 5vw;
        opacity: 0;
    }
    100% {
        opacity: 1;
        align-self: center;
    }
}

@keyframes fade-In {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}