.header-img{
    animation: slide-In 450ms;
    width: clamp(300px, 40vw, 600px);
}

.tagline{
    animation: fade-In 400ms;
    margin-top: 30px;
    width: clamp(250px, 40vw, 500px);
}

.container{
    display: flex;
    padding-top: clamp(100px, 25vh, 200px);
    flex-direction: column;
    height: 100vh;
}

.navbar{
    height: 100vh;
}

.header-img-active {
    animation: slide-Out 300ms;
    margin-left: 45px;
    align-self: center;
    height:45%;
}

.tagline-active {
    display: none;
}

.navbar-active {
    height: 100vh;
}

.container-active {
    height: clamp(50px,10vh,70px);
    display: flex;
    flex-direction: row;
    width: 100%;
    top: 0;
    left: 0;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, rgb(44, 83, 100, 0.95), rgb(32, 58, 67, 0.95), rgb(15, 32, 39, 0.90));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, rgb(44, 83, 100, 0.95), rgb(32, 58, 67, 0.95), rgb(15, 32, 39, 0.90)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    z-index: 4;
    position: sticky;
}

@media screen and (max-width: 600px) {
    .header-img{
        align-self: center;
    }
    .tagline{
        align-self: center;
    }
    .header-img-active{
        margin-left: 0;
    }
    .container-active{
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (min-width: 600px) {
    .container{
        padding-left: clamp(20px, 10vw, 120px);
    }
    .header-img{
        align-self: flex-start;
    }
    .tagline{
        align-self: flex-start;
        margin-left: clamp(30px, 10vw, 100px);
    }
}
/*For slide animation*/ 
  
@keyframes slide-In {
    0% {
        width: 0;
        opacity: 0;
    }
    100% {
        opacity: 1;
        width: clamp(300px, 40vw, 500px);
    }
}

@keyframes slide-Out {
    0% {
        margin-top: 24vh;
        margin-left: 5vw;
        opacity: 0;
    }
    100% {
        opacity: 1;
        align-self: center;
    }
}

@keyframes fade-In {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
