.header-img-about-active {
  animation: slide-Out 200ms;
  margin-left: 45px;
  align-self: center;
  height: 45%;
}

.tagline-about-active {
  display: none;
}

.navbar-about-active {
  height: clamp(400px, 92vh, 700px);
}

.container-about-active {
  height: clamp(50px, 10%, 80px);
  display: flex;
  flex-direction: row;
  width: 100%;
  top: 0;
  left: 0;
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    rgb(44, 83, 100, 0.95),
    rgb(32, 58, 67, 0.95),
    rgb(15, 32, 39, 0.9)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    rgb(44, 83, 100, 0.95),
    rgb(32, 58, 67, 0.95),
    rgb(15, 32, 39, 0.9)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  z-index: 4;
  position: absolute;
}

@media screen and (max-width: 600px) {
  .header-img-about-active {
    margin-left: 0;
  }
  .container-about-active {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}

/*For slide animation*/

@keyframes slide-In {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    opacity: 1;
    width: clamp(300px, 40vw, 500px);
  }
}

@keyframes slide-Out {
  0% {
    margin-top: 24vh;
    margin-left: 5vw;
    opacity: 0;
  }
  100% {
    opacity: 1;
    align-self: center;
  }
}

@keyframes fade-In {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
