.nav-fixed {
  height: fit-content;
  z-index: 10;
  width: 100vw;
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, rgb(44, 83, 100, 0.95), rgb(32, 58, 67, 0.95), rgb(15, 32, 39, 0.90));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, rgb(44, 83, 100, 0.95), rgb(32, 58, 67, 0.95), rgb(15, 32, 39, 0.90)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.nav-fixed-header-img {
  width: 150px;
  padding: 15px;
  margin-left: 45px;
  align-self: center;
}

.nav-trans-fixed {
  height: fit-content;
  padding-top: 30px;
  width: 50vw;
}

.nav-trans-container {
  flex-direction: row-reverse;
  background: transparent;
  height: 100%;
  width: 100%;
  display: flex;
  top: 0;
  left: 0;
}

.profile-side-nav-container{
  height: fit-content;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  right: 0px;
}

.profile-side-nav{
  transition: 0.5s;
  width: 160px;
  right: 30;
  height: 100px;
  margin-right: 30px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 10px;
  background-color: antiquewhite;
}

.profile-side-nav-hide{
  transition: 0.5s;
  margin-right: 30px;
  height: 0;
  width: 0;
  right: 30px;
  background-color: antiquewhite;
}

.profile-side-nav-options {
  display: inline-flex;
  justify-content: flex-end;
  width:100%;
  height:50%;
}

.profile-side-nav-options .profile-side-nav-link{
  cursor: pointer;
  font-size: 13px;
  font-family: "Montserrat";
  font-weight: 600;
  padding: 15px 20px;
  text-decoration: none;
  color: hsl(0, 0%, 0%);
}

.profile-side-nav-options .profile-side-nav-link:hover{
  transition: 0s;
  color: hsl(0, 50%, 50%);
  text-decoration: underline;
}

.profile-side-nav .profile-side-nav-link{
  transition: 1.5s;
  opacity: 1;
}

.profile-side-nav-hide .profile-side-nav-link{
  opacity: 0;
  visibility: hidden;
}

.profile-side-nav-options{
  width: 100%;
  height: 50%;
}

.profileIcon{
  color: white;
  display: flex;
  margin-right: 40px;
  align-items: center;
  justify-content: center;
}

.nav-trans-container h3{
  color: white;
  font-family: "Source Sans Pro";
  font-weight: 600;
  margin-right: 10px;
}

.profileIcon svg {
  font-size: 30px;
  cursor: pointer;
}

.rental-dashboard-bg-icon{
  position: relative;
  bottom: 0;
  right:0;
}

@media screen and (max-width: 600px) {
  
  .nav-trans-container {
    display: inline-flex;
    align-items: center;
  }

  .nav-trans-container h3{
    display: none;
  }
}