.search{
  width: fit-content;
}

.searchInputs {
  display: flex;
}

.search input {
  background-color: white;
  border: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 15px;
  letter-spacing: 1px;
  padding: 10px;
  height: 20px;
  width: 300px;
}

.searchIcon {
  height: 40px;
  width: 40px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: white;
  display: grid;
  place-items: center;
}

.searchIcon svg {
  font-size: 25px;
  cursor: pointer;
}

input:focus {
  outline: none;
}

.dataResult {
  margin-top: -5px;
  width: 360px;
  height: fit-content;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  overflow: hidden;
  overflow-y: auto;
}

.dataResult::-webkit-scrollbar {
  display: none;
}

.dataResult .dataItem {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  color: black;
}

.dataItem p, h6 {
  margin-left: 10px;
}

.dataItem h6{
  color: grey;
}

.dataItem{
  text-decoration: none;
}

.dataItem:hover {
  background-color: lightgrey;
}

#clearBtn {
  cursor: pointer;
}
