.start-up--bg-icon {
  top: 10vh;
  right: 3vw;
  z-index: 0;
  position: fixed;
  width: 32vw;
  opacity: 25%;
}

.cards{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width:600px) {
  .start-up--bg-icon {
    top: 150px;
  }
}
@media screen and (min-width:1200px) {
  .start-up--bg-icon {
    top: 100px;
  }
}