.homepage{
  background: radial-gradient(circle, rgba(99,111,116,1) 0%, rgba(31,46,53,1) 100%);
}

.rental-dashboard-section {
  height: 100%;
  width: 100%;;
  background: radial-gradient(circle, rgba(99,111,116,0.2) 0%, rgba(31,46,53,0.2) 100%);
}

.start-up--bg-icon {
  top: 10vh;
  right: 3vw;
  z-index: 0;
  position: fixed;
  width: 32vw;
  opacity: 25%;
}

.cards{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width:600px) {
  .start-up--bg-icon {
    top: 150px;
  }
}
@media screen and (min-width:1200px) {
  .start-up--bg-icon {
    top: 100px;
  }
}