:root{
  --bg-color-alt: hsl(198, 87%, 24%);
  --bg-color: linear-gradient(
    to top, 
  hsl(173, 52%, 68%, 90%) 0%, 
  hsl(198, 87%, 24%, 90%) 30%, 
  hsl(198, 87%, 24%, 90%) 60%, 
  hsl(173, 52%, 68%, 5%) 100%
  );
  --btn-bg-color: linear-gradient(
    to right, 
  hsl(198, 87%, 24%) 0%, 
  hsl(173, 52%, 68%)  51%, 
  hsl(198, 87%, 24%)  100%
  );
}

.homepage{
  background: var(--bg-color-alt);
  background: var(--bg-color);
}

.cards{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scroll-up-container-popup{
  transition:1s;
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 5;
  bottom: 0;
  left: 0;
}

.scroll-up-popup{
  background-color: black;
  border-radius: 100%;
  color: white;
  cursor: pointer;
  padding: 10px;
}

.scroll-up-container-hide{
  transition: 0.8s;
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 6;
  bottom: -100%;
  left: 0;
}

.scroll-up-hide{
  background-color: black;
  opacity: 0.4;
  border-radius: 100%;
  color: white;
  padding: 10px;
}

.scroll-up-tooltip-text {
  opacity: 0;
  transition: 0.3s;
  position: fixed;
  bottom: 42px;
  right: 100px;
  width: fit-content;
  background: rgb(0,0,0, 0.5);
  color: #fff;
  font-family: "Source Sans Pro";
  text-shadow: 1px 1px 3px grey;
  text-align: center;
  border-radius: 6px;
  padding: 8px;
  z-index: 7;
}

@media screen and (max-width:600px) {
  .scroll-up-container-hide{
    align-items: center;
    margin-bottom: 40px;
  }
  .scroll-up-container-popup{
    align-items: center;
    margin-bottom: 40px;
  }
  .scroll-up-popup{
    opacity: 0.3;
  }
  .scroll-up-container-popup:hover .scroll-up-tooltip-text {
    display: none;
  }
  .start-up--bg-icon {
    top: 150px;
  }
}

@media screen and (min-width:600px) {
  .scroll-up-container-hide{
    align-items: flex-end;
    margin-bottom: 40px;
  }
  .scroll-up-container-popup{
    align-items: flex-end;
    opacity: 0.5;
    margin-bottom: 40px;
  }
  .scroll-up-hide{
    margin-right: 40px;
  }
  .scroll-up-popup{
    margin-right: 40px;
  }
  .scroll-up-container-popup:hover .scroll-up-tooltip-text {
    transition: 0.8s;
    right: 90px;
    opacity: 1;
}
  .start-up--bg-icon {
    top: 100px;
  }
}

