//Global Variables

$txt-gradient-clr: linear-gradient(to left, #2c5364, #203a43, #0f2027);
$txt-gradient-fallback-clr: linear-gradient(to left, #2c5364, #203a43, #0f2027);
$bg-color-alt: hsl(198, 87%, 24%);

$bg-color-about: linear-gradient(
    to top, 
    hsla(198, 90%, 25%, .50) 0%, 
    hsla(198, 52%, 68%, .25) 40%,
    hsla(198, 52%, 68%, .1) 100%
);

$bg-color: linear-gradient(
  to top,
  hsla(180, 20%, 1%, 0.9) 0%,
  hsla(198, 87%, 24%, 0.9) 30%,
  hsla(198, 87%, 24%, 0.9) 60%,
  hsla(173, 52%, 68%, 0.45) 100%
);
$btn-bg-color: linear-gradient(
  to right,
  hsl(198, 87%, 24%) 0%,
  hsl(173, 52%, 68%) 51%,
  hsl(198, 87%, 24%) 100%
);

//General Components
.learn-more {
  margin: 0;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background: $bg-color-alt; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #85d8ce, #085070); /* Chrome 1*/
  background: $bg-color;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  text-align: justify;
  &-container {
    background-color: #e2eef3;
    &-section {
      margin: 0;
      height: 100%;
      width: 100vw;
      &-top {
        height: 100vh;
        &-cont {
          height: 100%;
          img {
            min-height: 100vh;
            width: 100vw;
            object-fit: cover;
          }
          &-overlay {
            height: 100vh;
            padding: 2vh 2vw;
            width: clamp(250px, 50%, 450px);
            background: linear-gradient(to top, #85d8ceb2, #085170a1);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: white;
            position: absolute;
            transition: 1s;
            h1 {
              text-align: center;
              font-size: clamp(50px, 7vw, 82px);
              transition: 1s;
              font-weight: 300;
              font-family: "Montserrat", sans-serif;
              span {
                font-weight: 600;
                background: $txt-gradient-fallback-clr; /* fallback for old browsers */
                background: $txt-gradient-clr;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                text-shadow: 1px 4px 10px rgba(7, 7, 7, 0.356);
              }
            }
          }
        }
      }
      &-mid {
        height: clamp(250px, 20vh, 300px);
        width: 100%;
        position: relative;
        background-color: #12313f;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: 1s;
        padding: 0 1vw;
        h2 {
          font-size: clamp(40px, 8vw, 64px);
          font-weight: 400;
          font-family: "Montserrat", sans-serif;
          transition: 1s;
        }
      }
      &-bottom {
        height: 100%;
        &-grid {
          background: linear-gradient(to top, #85d8ce, #085170);
          width: 100%;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          align-items: end;
          justify-items: center;
        }
        img {
          border-top-left-radius: 20px;
          height: auto;
          width: 100%;
          box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.274);
        }
      }
      &-text {
        height: 50vh;
        background-color: #ffffff75;
        padding: 10vh 10vw 0 10vw;
        h3 {
          font-size: clamp(20px, 15vw, 40px);
          margin: 0;
          background: $txt-gradient-fallback-clr; /* fallback for old browsers */
          background: $txt-gradient-clr;
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }
}

//Terms of Service
.terms-service {
  margin: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background: #085070; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #85d8ce, #085070); /* Chrome 1*/
  background: linear-gradient(to top, #85d8ce, #085070);
  font-family: Arial, Helvetica, sans-serif;

  &-container {
    color: black;
    padding: 2vh 0 5vh 0;
    height: 100%;
    width: clamp(90vw, 95%, 500px);
    background-color: #e2eef3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 2px;
    text-align: justify;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5);
  }
  &-bg {
    top: 0;
    left: 1.2%;
    z-index: 0;
    position: relative;
    width: 20%;
    opacity: 55%;
  }
  &-h1 {
    margin-top: 1vh;
    font-size: xxx-large;
    text-align: center;
    color: #0f232f;
  }
  &-h2 {
    margin-top: 2vh;
    width: 100%;
    margin-left: 5vw;
    font-size: medium;
    align-self: flex-start;
    border-radius: 5px;
    color: #0f232f;
  }
  &-p {
    font-size: medium;
    margin: 0 5vw 0 5vw;
    text-align: justify;
    text-indent: 2vw;
    color: #15242e;
    line-height: 2.5vh;
  }
  &-p2 {
    font-size: 15px;
    margin: 0 5vw 0 5vw;
    text-align: justify;
    color: #15242e;
    line-height: 2.5vh;
    align-self: flex-start;
  }
}

.search {
  width: fit-content;
  &-inputs {
    display: flex;
    border-radius: 5px;
    background-color: white;
    flex-direction: row;
    align-items: center;
  }
  &-icon {
    height: clamp(30px, 6vh, 40px);
    width: clamp(30px, 5vh, 40px);
    display: grid;
    place-items: center;
    svg {
      font-size: 25px;
      cursor: pointer;
    }
  }
  &-data {
    &-result {
      margin-top: clamp(-5px, -1vh, -1px);
      width: clamp(300px, 40vw, 360px);
      height: fit-content;
      max-height: clamp(80px, 25vh, 160px);
      overflow-y: scroll;
      background-color: white;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      .search-data-item {
        width: 100%;
        height: fit-content;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        color: black;
      }
    }
    &-item {
      text-decoration: none;
      &:hover {
        background-color: lightgrey;
      }

      p,
      h6 {
        width: fit-content;
        padding-left: 10px;
      }
      h6 {
        color: grey;
        padding-left: 15px !important;
      }
    }
  }

  input {
    border: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: clamp(12px, 2vh, 15px);
    letter-spacing: 1px;
    padding: clamp(5px, 2vh, 10px);
    height: 10px;
    width: clamp(250px, 30vw, 300px);
    &:focus {
      outline: none;
    }
  }
  #clearBtn {
    cursor: pointer;
  }
}

//About Page
.about {
    height: 100%;
    width: 100vw;
    display: grid;
    position: relative;
    grid-auto-flow: row;
    color: white;
    background: $bg-color-about;
    font-family: Arial, Helvetica, sans-serif;

    hr.solid {
        border-top: 2px solid #bbb;
        width: 100%;
    }
    &-icon{
        position: fixed;
        z-index: -1;
        height: 50vh;
        opacity: 0.1;
        margin-right: -30px;
        margin-bottom: -100px;
        bottom: 0;
        right: 0;
    }

    &-section {
        display: grid;
        grid-auto-flow: row;
        transition: 1s;
        margin-top: 15vh;
        width: 100%;
        border-radius: 12px;
        padding-bottom: 15vh;

        &-title {
            width: 100%;
            font-size: clamp(30px,10vw,50px);
            font-family: "Montserrat", sans-serif;
            background: $txt-gradient-fallback-clr;  /* fallback for old browsers */
            background: $txt-gradient-clr; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: 700;
            text-align: center;
        }
        &-wrapper{
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-top: 3vh;
            align-items: center;
            justify-items: center;
            width: 100%;
            @media screen and (max-width:600px){
                grid-template-columns: 1fr;
            }
            &-container{
                display: grid;
                grid-auto-flow: row;
                align-items: center;
                justify-items: center;
                width: 80%;
                &-h2 {
                    margin-top: 2vh;
                    font-size: 20px;
                    padding: 1.5ch;
                    width: 100%;
                    font-family: "Source Sans Pro", sans-serif;
                    background: $txt-gradient-fallback-clr;  /* fallback for old browsers */
                    background: $txt-gradient-clr; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-weight: 800;
                    border: 1px outset rgba(0, 0, 0, 0.05);
                    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
                    text-align: center;
                    border-radius: 5px;
                    color: #0f232f;
                }
                &-p {
                    font-size: medium;
                    width: 100%;
                    min-height: 250px;
                    word-wrap: normal;
                    font-family: "Source Sans Pro", sans-serif;
                    font-weight: 500;
                    border: 1px outset rgba(0, 0, 0, 0.05);
                    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
                    padding: 3ch;
                    text-align: justify;
                    text-indent: 2vw;
                    border-radius: 10px;
                    color: hsl(198, 50%, 20%);
                }
            }
        }
    }
    
    &-container {
        display: grid;
        grid-auto-flow: row;
        padding-top: 5vh;
        padding-bottom: 20vh;
        width: 100vw;
        &-title{
            font-size: clamp(30px,10vw,50px);
            font-family: "Montserrat", sans-serif;
            background: $txt-gradient-fallback-clr;  /* fallback for old browsers */
            background: $txt-gradient-clr; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: 700;
            text-align: end;
            text-align: center;
            padding-bottom: 1vh;
        }
        &-content{
            display: grid;
            justify-items: center;
            grid-template-columns: 1fr 1fr 1fr;
            @media screen and (max-width:900px){
                grid-template-columns: 1fr;
            }
            width: 100%;
            &-wrapper{
                display: grid;
                justify-items: center;
                width: 80%;
                border: 1px outset hsla(0, 0%, 0%, 0.1);
                box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.1);
                border-radius: 10px;
                padding-top: 5ch !important;
                &-img {
                    display: grid;
                    justify-items: center;
                    &-pic {
                        width: 150px;
                        border-radius: 50%;
                    }
                }
                &-text {
                    text-align: center;
                    font-family: "Montserrat", sans-serif;
                    background: $txt-gradient-fallback-clr;  /* fallback for old browsers */
                    background: $txt-gradient-clr; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-weight: 700;
                    width: 100%;
                }
                &-description {
                    align-items: center;
                    min-height: 20vh;
                    padding: 3ch;
                    &-person{
                        &-title{
                            color: white;
                            justify-self: flex-start;
                            text-shadow: 1px 1px 5px black;
                            font-family: "Montserrat", sans-serif;
                            font-weight: 400;
                            margin: 0;
                            padding: 0 1ch !important;
                            padding-bottom: 2ch !important;
                            text-align: center;
                            font-size: 18px;
                        }
                        &-saying{
                            background-image: linear-gradient(-225deg, rgb(27, 27, 27) 0%, hsl(0, 12%, 7%) 100%);
                            background-clip: text;
                            text-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.25);
                            -webkit-text-fill-color: transparent;
                            font-family: "Source Sans Pro", sans-serif;
                            font-weight: 500;
                            text-align: center;
                        }
                        &-email{
                            font-family: "Source Sans Pro", sans-serif;
                            color:#12313f;
                            font-size: 15px;
                            font-weight: 400;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}
