$bg-color: linear-gradient(
    to top, 
    hsla(198, 90%, 25%, .50) 0%, 
    hsla(198, 52%, 68%, .25) 20%,
    hsla(198, 52%, 68%, .15) 30%,
    hsla(198, 52%, 68%, .1) 100%
);

.edit-profile{
    height: 100%;
    width: calc(100% - 60px);
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 3fr;
    @media screen and (max-width:800px){
        grid-template-columns: 1fr;
        &-container{
            background: transparent !important;
            margin-top:120px;
        }
        &-wrapper{
            margin-bottom: 150px;
        }
    }
    &-background{
        min-height: 100vh;
        width: 100vw;
        background: $bg-color;
        display: grid;
        justify-items: center;
        align-items: center;
    }
    &-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: linear-gradient(
            to top, 
            hsla(198, 90%, 25%, .50) 0%, 
            hsla(198, 52%, 68%, .25) 40%,
            hsla(198, 52%, 68%, .1) 100%
        );
        height:100%;
        width: 100%;
        &-img{
            img{
                margin-top: 30px;
                height: clamp(150px,20vw,250px);
                width: clamp(150px,20vw,250px);
                object-fit: cover;
                object-position: center;
                border-radius: 50%;
            }
        }
        &-change{
            label{
                background-image: $btn-bg-color;
                width: clamp(120px, 25vw, 150px);
                display: flex;
                justify-content:center;
            
                padding-left: clamp(20px, 5%, 30px);
                padding-right: clamp(20px, 5%, 30px);
                padding-top: 5px;
                padding-bottom: 5px;
            
                text-decoration: none;
                font-size: 12px;
                font-family: "Source Sans Pro";
                font-weight: 400;
                text-align: center;
                letter-spacing:2px;
                text-transform: uppercase;
            
                transition: 1s;
                background-size: 300% auto;
                text-shadow: 1px 1px 3px grey;
                color: white;            
                border-radius: 30px;
        
                &:hover {
                    background-position: right center; /* change the direction of the change here */
                    text-shadow: 1px 1px 3px grey;
                }
            }
        }
    }
    &-wrapper{
        width: 90%;
        min-height: 300px;
        height: fit-content;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row-gap: 20px;
        padding: 30px 0;
        border-radius: 20px;
        border: 1px outset hsla(0, 0%, 0%, 0.1);
        box-shadow: 5px 5px 10px hsla(0, 0%, 0%, 0.1);
        @media screen and (max-width:800px){
            grid-template-columns: 1fr !important;
            &-change{
                grid-column-start: 1 !important;
                grid-column-end: span 1 !important;
                &-save{
                    grid-column-start: 1 !important;
                    grid-column-end: span 1 !important;
                }
            }
        }
        &-row{
            display: grid;
            grid-template-rows: 1fr 1fr;
            width: fit-content;
            justify-self: center;
            @media screen and (max-width:800px){
                align-items: center;
                justify-items: center;
                &-header{
                    grid-column-end: span 1 !important;
                    padding-left: 0 !important;
                    text-align: center;
                }
            }
            &-header{
                grid-column-start: 1;
                grid-column-end: span 3;
                padding-left: 50px;
                p{
                    font-size: clamp(30px, 3vw, 40px);
                    font-family: "Montserrat", sans-serif;
                    background: $txt-gradient-fallback-clr;  /* fallback for old browsers */
                    background: $txt-gradient-clr; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-weight: 700;
                    margin-bottom: 20px;
                }
            }
        }
        &-input{
            border: none;
            height: fit-content;
            padding: 10px 0;
            border-bottom: 1px solid black !important;
            background-color: transparent;
            &:focus{
                outline: none;
            }
        }
        &-change{
            justify-self: center;
            grid-column-start: 1;
            grid-column-end: span 3;
            background-image: $btn-bg-color;
            width: clamp(100px, 25vw, 150px);
            display: flex;
            justify-content:center;
        
            padding-left: clamp(20px, 5%, 30px);
            padding-right: clamp(20px, 5%, 30px);
            padding-top: 5px;
            padding-bottom: 5px;
        
            text-decoration: none;
            font-size: 15px;
            font-family: "Source Sans Pro";
            font-weight: 400;
            text-align: center;
            letter-spacing:2px;
            text-transform: uppercase;
        
            transition: 1s;
            background-size: 300% auto;
            text-shadow: 1px 1px 3px grey;
            color: white;            
            border-radius: 30px;
    
            &:hover {
                background-position: right center; /* change the direction of the change here */
                text-shadow: 1px 1px 3px grey;
            }
            &-disabled{
                display: none !important;
            }
            &-save{
                background-image: $btn-bg-color;
                width: clamp(100px, 25vw, 150px);
                display: flex;
                justify-content:center;
            
                padding-left: clamp(20px, 5%, 30px);
                padding-right: clamp(20px, 5%, 30px);
                padding-top: 5px;
                padding-bottom: 5px;
            
                text-decoration: none;
                font-size: 15px;
                font-family: "Source Sans Pro";
                font-weight: 400;
                text-align: center;
                letter-spacing:2px;
                text-transform: uppercase;
            
                transition: 1s;
                background-size: 300% auto;
                text-shadow: 1px 1px 3px grey;
                color: white;            
                border-radius: 30px;
        
                justify-self: center;
                grid-column-start: 1;
                grid-column-end: span 3;

                &:hover {
                    background-position: right center; /* change the direction of the change here */
                    text-shadow: 1px 1px 3px grey;
                }
            }
        }
    }
}
.owner{
    
    &-dashboard{
        display: grid;
        width: 100vw;
        height: 100vh;
        padding-top: 100px;
        background: linear-gradient(
            to top, 
            hsla(198, 90%, 25%, .50) 0%, 
            hsla(198, 52%, 68%, .25) 40%,
            hsla(198, 52%, 68%, .1) 100%
        );
        &-title{
            width: 100vw;
            grid-column-start: 1;
            grid-column-end: span 3;
            padding-left: 50px;
            h1{
                font-size: clamp(30px, 3vw, 40px);
                font-family: "Montserrat", sans-serif;
                background: $txt-gradient-fallback-clr;  /* fallback for old browsers */
                background: $txt-gradient-clr; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                background-clip: text;
                -webkit-text-fill-color: transparent;
                font-weight: 700;
            }
        }
        &-card{
            width: 100%;
            &-container{
                &-rental{
                    &-img{

                    }
                }
                &-left{
                    &-description{
                        &-disabled{

                        }
                    }
                    &-wrapper{
                        &-edit{
                            &-disable{

                            }
                            &-enable{

                            }
                        }
                        &-save{

                        }
                    }
                }
                &-right{
                    &-cont{
                        &-nav{

                        }
                        &-wrapper{
                            &-buttons{
                                &-negative{

                                }
                                &-positive{

                                }
                            }
                            &-details{

                            }
                        }
                    }
                    &-hidden{

                    }
                }
                &-remove{
                    &-button{

                    }
                }
            }
        }
    }   
}
